<section class="container-padded">

	<div class="container">

		<div class="container-left-9">
			<div class="box-keyvisual">
				{% include svg/key_visual.svg %}
			</div>
		</div>

		<div class="container-left-3">
			<div class="event-box box-margin-top-medium">
				{% include events.html %}
			</div>
		</div>
	</div>

	<div class="container">
		<div class="container-left-12">
			<div class="box box-with-head box-margin-top-huge">
				<h1 class="box-head">Our Vision</h1>
				<p>
					School of Data Germany helps non-profit organisations, civil rights defenders and activists to understand and use data and technology effectively to increase their impact on societal challenges.
				</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="container-left-6">
			<div class="box box-margin-top-medium">
				<p>
					Changes in education acts, urban development trends or statistics on asylum seekers: More and more information is available online nowadays. Non-profit organisations can also benefit from data as an additional source of information. Data can pave the way for new projects and create new forms of participation for targeted audiences. A thorough data analysis can also help make internal decision-making more informed and insightful.			</p>
			</div>
		</div>
		<div class="container-right-6">
			<div class="box box-margin-top-large">
				<p>
					Yet, few non-profit organisations actually recognise the impact data can have on their projects. They often lack the required skills to use and turn data into valuable information. We at School of Data Germany want to help realise data-driven projects: We cooperate with non-profit organisations based in Germany that campaign for positive social change. How do you find, analyse and visualise data effectively? In our workshops we teach the skills needed to process data and use related technologies in an independent and self-determined way.
				</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="container-left-12">
			<div class="box box-margin-top-medium">
				<h2>Our goals</h2>
				<p></p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="container-left-6">
			<div class="box box-margin-top-medium">
				<h3>Knowledge transfer</h3>
				<p>
					How do you tell a good story with data? Which ethical questions should be considered when collecting data? What digital tools exist to improve workflows in your organisation? In our workshops, strategy sessions and technical trainings, we impart knowledge on the targeted use of data and technologies and open up new perspectives on working digitally. We provide learning materials, best practices and resources to help you get started and/or build upon your existing knowledge.				</p>
			</div>
			<div class="box box-margin-top-medium">
				<h3>Community Building</h3>
				<p>
					Successful non-profit projects rely on a supportive, diverse and hands-on community. In order to promote the exchange between tech-enthusiasts and civil society  organisations, we organise events and projects with our partners as well as our community.
				</p>
			</div>
		</div>
		<div class="container-left-6">
			<div class="box box-margin-top-large">
				<h3>Social change</h3>
				<p>
					In a digitised world, data handling is becoming more and more important. Thus, teaching and supporting data literacy is one of our main priorities. Profound knowledge in processing data allows individuals and organisations to critically reflect and to influence public debates with evidence-based arguments. We wish to support more political and social causes by joining forces with other NGOs. We tackle real challenges of our partners, develop data-driven solutions and jointly implement projects.
				</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="container-left-12">
			<div class="box box-margin-top-medium box-with-button">
				<h2>Become part of School of Data Germany!</h2>
				<p>
					In our monthly newsletter, we inform you about recent activities and workshops, and provide insights on interesting debates in the context of data literacy. We also point to new tools and tricks for processing data.
				</p>
				<a target="_blank" href="http://okfn.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&id=57affeefd3">
					<button class="box-button">Subscribe</button>
				</a>
			</div>
		</div>
	</div>

</section>
