---
layout: page
menu_presse: yes
title: presse.intro
description: presse.desc
---
<div class="box box-with-head">
	<h1>{% t presse.title %}</h1>
</div>

<div class="box box-margin-top-medium">
	<h2>{% t presse.intro %}</h2>
	<p></p>
</div>

<div class="box box-margin-top-medium">
	<h2>{% t presse.cat_info %}</h2>
	<p></p>
</div>

<div class="container-wrap-row">
	{% for down in site.data.downloads %}
	<div class="container-wrap-item-3">
		<div class="box download-box">
			<p>
				<i class="icon-download"></i>
				<a href="{{down.url}}">{{down.name}}<br>({{down.type}} {{down.size}})</a>
			</p>
		</div>
	</div>
	{% endfor %}
</div>

<div class="box box-margin-top-medium">
	<h2>{% t presse.cat_releases %}</h2>
	<p></p>
</div>

<div class="box">
	<p><a href="#">{% t presse.cat_releases_distribute_link %}</a>{% t presse.cat_releases_distribute_text %}</p>
</div>

<div class="box box-margin-top-medium">
	<h2>{% t presse.cat_review %}</h2>
	<p></p>
</div>

<div class="box">
	<ul>
		<li><span class="bold">02. November 2016</span> | <a href="https://www.joeran.de/jra041-datenschule/">“Wer lernt was in der neu gegründeten Datenschule?”</a> (Jöran & Konsorten)</li>
	</ul>
</div>

<div class="container">
	<div class="box box-margin-top-medium">
		<h2>{% t presse.cat_postcards %}</h2>
		<p></p>
	</div>
	<div class="box">
		<div class="container-wrap-row">
			{% for card in site.data.cards %}
			<div class="container-wrap-item">
				<a href="/files/downloads/campaign/{{card.filename}}" download="/files/downloads/campaign/{{card.filename}}">
					<img src="/files/downloads/campaign/thumbs/{{card.filename}}">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% if site.settings.debug %}
<div class="container">
	<div class="box box-with-head box-margin-top-large">
		<h1 class="box-head">{% t presse.cat_releases %}</h1>
		<p>
		<ul class="list-unstyled">
			{% for press in site.data.press %}
			<li>
				{{ press.date | date:"%d.%m.%Y" }}, <a href="{{ press.link }}">{{ press.name }}</a>
			</li>
			{% endfor %}
		</ul>
		</p>
	</div>
</div>
{% endif %}
