---
layout: page
menu_presse: yes
title: presse.intro
description: presse.desc
---
<div class="box box-with-head">
	<h1 class="box-head">{% t presse.title %}</h1>
	<p>{% t presse.intro %}</p>
</div>

<div class="box box-margin-top-medium">
	<h2>{% t presse.cat_info %}</h2>
	<p></p>
</div>

<div class="container-wrap-row">
	{% for down in site.data.downloads %}
	<div class="container-wrap-item-3">
		<div class="box download-box">
			<p>
				<i class="icon-download"></i>
				<a href="{{down.url}}">{{down.name}}<br>({{down.type}} {{down.size}})</a>
			</p>
		</div>
	</div>
	{% endfor %}
</div>

<!--<div class="box box-margin-top-medium">-->
	<!--<h2>{% t presse.cat_releases %}</h2>-->
	<!--<p></p>-->
<!--</div>-->

<!--<div class="box">-->

<!--</div>-->

<div class="box box-margin-top-medium">
	<h2>{% t presse.cat_review %}</h2>
	<p></p>
</div>

<div class="box">
	<ul>
		<li><span class="bold">14. Januar 2018</span> | <a href="http://www.berliner-woche.de/wedding/bildung/digitaler-schulvergleich-plattform-erleichtert-die-suche-d140561.html">Digitaler Schulvergleich: Plattform erleichtert die Suche</a> (Berliner Woche)</li>
		<li><span class="bold">24. Oktober 2017</span> | <a href="https://www.berliner-zeitung.de/28549124">„OffenesParlament”: Website fasst alle 245 Bundestagsprotokolle anschaulich zusammen</a> (Berliner Zeitung)</li>
		<li><span class="bold">13. Oktober 2017</span> | <a href="https://www.udldigital.de/offenes-parlament-mehr-uebersicht-bei-debatten-im-bundestag/">Offenes Parlament: Mehr Übersicht bei Debatten im Bundestag</a> (UdL digital)</li>
		<li><span class="bold">12. Oktober 2017</span> | <a href="https://daten.berlin.de/interaktion/artikel/offenesparlamentde%E2%80%8B-%E2%80%8Bmacht%E2%80%8B-%E2%80%8Bplenarprotokolle%E2%80%8B-%E2%80%8Bdurchsuchbar">OffenesParlament.de macht Plenarprotokolle durchsuchbar</a> (Open Data-Portal Berlin)</li>
		<li><span class="bold">12. Oktober 2017</span> | <a href="http://www.move-online.de/meldung_27436">Open Government: Bundestag wird transparenter</a> (move-online.de)</li>
		<li><span class="bold">10. Oktober 2017</span> | <a href="https://www.bpb.de/lernen/digitale-bildung/werkstatt/257553/digitale-tools-koennen-menschen-eine-stimme-geben-die-politisch-wenig-gehoert-werden-?pk_campaign=nl2017-10-25&pk_kwd=257553">"Digitale Tools können Menschen eine Stimme geben, die politisch wenig gehört werden."</a> (bpb.de)</li>
		<li><span class="bold">10. Oktober 2017</span> | <a href="http://www.ksta.de/politik/bundestag-volker-beck-redete-am-haeufigsten-28549526">Bundestag: Volker Beck redete am häufigsten</a> (Kölner Stadtanzeiger)</li>
		<li><span class="bold">06. Oktober 2017</span> | <a href="https://www.golem.de/news/offenes-parlament-mehr-durchblick-bei-bundestagsdebatten-1710-130482.html">Offenes Parlament: Bundestagsdebatten werden emojionaler</a> (Golem.de)</li>
		<li><span class="bold">06. Oktober 2017</span> | <a href="http://www.taz.de/!5452897/">Offene Daten und der Bundestag. Protokolle endlich durchsuchbar</a> (taz)</li>
		<li><span class="bold">06. Oktober 2017</span> | <a href="http://www.linux-magazin.de/NEWS/Neue-Plattform-Wer-sagt-was-im-Bundestag">Neue Plattform: Wer sagt was im Bundestag?</a> (Linux-Magazin)</li>
		<li><span class="bold">05. Oktober 2017</span> | <a href="https://netzpolitik.org/2017/offenes-parlament-bringt-transparenz-in-bundestagsdebatten/">OffenesParlament bringt Transparenz in Bundestagsdebatten</a> (netzpolitik.org)</li>
		<li><span class="bold">04. Oktober 2017</span> | <a href="https://www.heise.de/newsticker/meldung/Offenes-Parlament-Mehr-Durchsicht-fuer-Debatten-im-Bundestag-3849802.html">Offenes Parlament: Mehr Durchsicht für Debatten im Bundestag</a> (heise online)</li>
		<li><span class="bold">01. August 2017</span> | <a href="https://enorm-magazin.de/schulen-im-ueberblick">Schulen im Überblick</a> (enorm magazin)</li>
		<li><span class="bold">04. Juli 2017</span> | <a href="https://idw-online.de/de/news677670">Doing Good with Data: 1. Preis für Absolventin der HWR Berlin</a> (idw)</li>
		<li><span class="bold">17. Mai 2017</span> | <a href="http://goodimpact.org/magazin/endlich-ein-%C3%BCberblick-%C3%BCber-die-schulen-deutschland">Neue Plattform JedeSchule.de - Endlich ein Überblick über die Schulen in Deutschland</a> (Good Impact)</li>
		<li><span class="bold">24. April 2017</span> | <a href="http://ondemand-mp3.dradio.de/file/dradio/2017/04/24/informationen_ueber_alle_schulen_interview_mit_silke_dlf_20170424_1452_fd52240e.mp3">Informationen über alle Schulen - Interview mit Silke Ramelow, BildungsCent e.V.</a> (Deutschlandfunk)</li>
		<li><span class="bold">20. April 2017</span> | <a href="http://kultur-bildet.de/artikel/neue-recherche-und-informationsplattform-jedeschulede">Neue Recherche- und Informationsplattform JedeSchule.de</a> (Kultur-bildet.de)</li>
		<li><span class="bold">11. April 2017</span> | <a href="https://www.kubinaut.de/de/news/2017/4/11/jedeschulede-schafft-mehr-tranzparenz-im-schulsystem/">JedeSchule.de schafft mehr Tranzparenz im Schulsystem</a> (Kubinaut.de)</li>
		<li><span class="bold">10. April 2017</span> | <a href="https://www.govdata.de/web/guest/neues/-/blogs/-jede-schule-neues-projekt-zur-transparenz-im-schulwesen?_33_redirect=https%3A%2F%2Fwww.govdata.de%2Fweb%2Fguest%2Fneues%3Fp_p_id%3D33%26p_p_lifecycle%3D0%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Dcolumn-1%26p_p_col_pos%3D1%26p_p_col_count%3D2">"Jede Schule" - neues Projekt zur Transparenz im Schulwesen</a> (Govdata.de)</li>
		<li><span class="bold">30. März 2017</span> | <a href="https://opendata.bonn.de/blog/offene-schuldaten-bei-jedeschulede">Offene Schuldaten bei JedeSchule.de</a> (Datenportal Bonn)</li>
		<li><span class="bold">27. März 2017</span> | <a href="http://www.kommune21.de/meldung_25996_gn">Transparenz über jede Schule</a> (Kommune 21)</li>
		<li><span class="bold">26. März 2017</span> | <a href="http://berlin-familie.de/bildung-erziehung-betreuung/schule/2268-mehr-transparenz-im-schulsystem-%C3%BCberblick-mit-jedeschule-de.html">Mehr Transparenz im Schulsystem: Überblick mit JedeSchule.de</a> (Berlin-Familie.de)</li>
		<li><span class="bold">24. März 2017</span> | <a href="https://daten.berlin.de/interaktion/artikel/offene-schuldaten-bei-jedeschulede">Offene Schuldaten bei JedeSchule.de</a> (Datenportal Berlin)</li>
		<li><span class="bold">21. März 2017</span> | <a href="https://detektor.fm/gesellschaft/frag-den-staat-schulen-vergleichen">Mehr Transparenz im Schulsystem</a> (detektor.fm)</li>
		<li><span class="bold">15. März 2017</span> | <a href="http://www.jugendnetz-berlin.de/de/aktuelles/neues/17-03-15-jedeschule-de-schafft-mehr-tranzparenz-im-schulsystem.php">JedeSchule.de schafft mehr Tranzparenz im Schulsystem</a> (Jugendnetz Berlin)</li>
		<li><span class="bold">15. März 2017</span> | <a href="http://medienentwicklungsplan.info/2017/03/15/jedeschule-de-bietet-informationen-ueber-rund-30-000-allgemeinbildende-schulen-in-deutschland/">JedeSchule.de bietet Informationen über rund 30.000 allgemeinbildende Schulen in Deutschland</a> (Medienentwicklungsplan.info)</li>
		<li><span class="bold">02. November 2016</span> | <a href="https://www.joeran.de/jra041-datenschule/">Wer lernt was in der neu gegründeten Datenschule?</a> (Jöran & Konsorten)</li>
</ul> 
	</ul> 
</div>

<div class="box box-with-head box-margin-top-medium">
	<h1 class="box-head">Presseverteiler</h1>
	{% include mailchimp_press.html %}
</div>

<div class="container">
	<div class="box box-margin-top-medium">
		<h2>{% t presse.cat_postcards %}</h2>
		<p></p>
	</div>
	<div class="box">
		<div class="container-wrap-row">
			{% for card in site.data.cards %}
			<div class="container-wrap-item">
				<a href="/files/downloads/campaign/{{card.filename}}" download="/files/downloads/campaign/{{card.filename}}">
					<img src="/files/downloads/campaign/thumbs/{{card.filename}}">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% if site.settings.debug %}
<div class="container">
	<div class="box box-with-head box-margin-top-large">
		<h1 class="box-head">{% t presse.cat_releases %}</h1>
		<p>
		<ul class="list-unstyled">
			{% for press in site.data.press %}
			<li>
				{{ press.date | date:"%d.%m.%Y" }}, <a href="{{ press.link }}">{{ press.name }}</a>
			</li>
			{% endfor %}
		</ul>
		</p>
	</div>
</div>
{% endif %}
