---
layout: page
menu_presse: yes
title: Presse
description: Die OKF Datenschule in der Presse
---

<div class="box box-with-head">
	<h1 class="box-head">Presse</h1>
	<p>Info- und Pressematerial der Datenschule</p>
</div>

<div class="box box-margin-top-medium">
	<h2>Infomaterial</h2>
	<p></p>
</div>

<div class="container-wrap-row">
	{% for down in site.data.downloads %}
	<div class="container-wrap-item-3">
		<div class="box download-box">
			<p>
				<i class="icon-download"></i>
				<a href="{{down.url}}">{{down.name}}<br>({{down.type}} {{down.size}})</a>
			</p>
		</div>
	</div>
	{% endfor %}
</div>

<div class="container">
	<div class="box box-margin-top-medium">
		<h2>Postkarten</h2>
		<p></p>
	</div>
	<div class="box">
		<div class="container-wrap-row">
			{% for card in site.data.cards %}
			<div class="container-wrap-item">
				<a href="/files/downloads/campaign/{{card.filename}}" download="/files/downloads/campaign/{{card.filename}}">
					<img src="/files/downloads/campaign/thumbs/{{card.filename}}">
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% if site.settings.debug %}

<div class="container">
	<div class="box box-with-head box-margin-top-large">
		<h1 class="box-head">Presse-Mitteilungen</h1>
		<p>
		<ul class="list-unstyled">
			{% for press in site.data.press %}
			<li>
				{{ press.date | date:"%d.%m.%Y" }}, <a href="{{ press.link }}">{{ press.name }}</a>
			</li>
			{% endfor %}
		</ul>
		</p>
	</div>
</div>

{% endif %}

