---
layout: page
menu_team: yes
title: Team
description: Das Team der OKF Datenschule
---

<div class="box box-with-head">
	<div class="box-head">Team</div>
	<p>Das Team der Datenschule</p>
</div>

<div class="box box-space-large">
	<h3>Trainings</h3>
	<p></p>
</div>

<div class="container">
	<div class="container-wrap-row">
		{% for person in site.data.trainers %}
		<div class="container-wrap-item-3">
			<div class="box">
				<h4>{{person.name}}</h4>
				<p></p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="box box-space-large">
	<h3>Organisation</h3>
	<p></p>
</div>

<div class="container">
	<div class="container-wrap-row">
		{% for person in site.data.team %}
		<div class="container-wrap-item-3 team-item">
			<div class="box">
				<img src="/files/team/{{person.img}}.jpg">
				<h4>{{person.name}}</h4>
				<p>{{person.position}}</p>
				<p class="contact">
					<a href="mailto:{{person.mail}}">{{person.mail}}</a>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="box box-space-large">
	<h3>Advisory Board</h3>
	<p></p>
</div>

<div class="container">
	<div class="container-wrap-row">
		{% for person in site.data.advisory %}
		<div class="container-wrap-item-3">
			<div class="box">
				<h4>{{person.name}}</h4>
				<p></p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
