---
layout: page
menu_team: yes
title: Team
description: Das Team der OKF Datenschule
---

<div class="box box-with-head">
	<h1 class="box-head">Team</h1>
	<p>Das Team der Datenschule</p>
</div>

<div class="box box-margin-top-medium">
	<h2>Trainer/innen</h2>
	<p></p>
</div>

<div class="container">
	<div class="container-wrap-row">
		{% for person in site.data.trainers %}
		<div class="container-wrap-item-3">
			<div class="box">
				<h3>{{person.name}}</h3>
				<p></p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="box box-margin-top-medium">
	<h2>Organisation</h2>
	<p></p>
</div>

<div class="container">
	<div class="container-wrap-row">
		{% for person in site.data.team %}
		<div class="container-wrap-item-3 team-item">
			<div class="box">
				<img src="/files/team/{{person.img}}.jpg">
				<h3>{{person.name}}</h3>
				<p>{{person.position}}</p>
				<p class="contact">
					<a href="mailto:{{person.mail}}">{{person.mail}}</a>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<div class="box box-margin-top-medium">
	<h2>Advisory Board</h2>
	<p></p>
</div>

<div class="container">
	<div class="container-wrap-row">
		{% for person in site.data.advisory %}
		<div class="container-wrap-item-3">
			<div class="box">
				<h3>{{person.name}}</h3>
				<p></p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
