---
layout: page
menu_team: yes
title: Team
description: Das Team der OKF Datenschule
---

<div class="box box-with-head">
	<h1 class="box-head">Team</h1>
	<p>Wir sind Teil des internationalen School of Data Networks und arbeiten mit lokalen und internationalen Trainer/innen zusammen.</p>
</div>
{% if site.settings.debug %}
{% if site.data.trainers.size > 0 %}
<div class="box box-margin-top-medium">
	<h2>Trainer/innen</h2>
	<p></p>
</div>
<div class="container">
	<div class="container-wrap-row">
		{% for person in site.data.trainers %}
		<div class="container-wrap-item-3 team-item">
			<div class="box">
				{% if person.img %}<img src="/files/team/{{person.img}}.jpg">{% endif %}
				<h3>{{person.name}}</h3>
				<p></p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endif %}

{% if site.data.team.size > 0 %}
<div class="box box-margin-top-medium">
	<h2>Organisation</h2>
	<p></p>
</div>
<div class="container">
	<div class="container-wrap-row">
		{% for person in site.data.team %}
		<div class="container-wrap-item-3 team-item">
			<div class="box">
				{% if person.img %}
				<img src="/files/team/{{person.img}}.jpg">
				{% endif %}
				<h3>{{person.name}}</h3>
				<p>{{person.position}}</p>
				<p class="contact">
					<a href="mailto:{{person.mail}}">{{person.mail}}</a>
				</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}

{% if site.data.advisory.size > 0 %}
<div class="box box-margin-top-medium">
	<h2>Advisory Board</h2>
	<p></p>
</div>
{% for person in site.data.advisory %}
<div class="box advisory-item">
	<div class="container">
		<div class="container-left-3">
			{% if person.img %}<img src="/files/team/{{person.img}}.jpg">{% endif %}
		</div>
		<div class="container-left-9">
			<h3>{{person.name}}</h3>
			<p class="advisory-bio">{{person.bio}}</p>
			<cite class="advisory-slogan">{{person.slogan}}</cite>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}
