---
layout: page
menu_lernen: yes
title: lernen.title
description: lernen.desc
---
<div class="box box-with-head">
  <h1 class="box-head">{% t lernen.title %}</h1>
  <p>{% t lernen.intro %}</p>
</div>

{% assign topics = site.topics %}
{% if topics.size > 0 %}
<div class="box box-margin-top-medium">
  <h2>{% t lernen.topics.title %}</h2>
  <p>{% t lernen.topics.desc %}</p>
</div>
<div class="container">
  <ul class="list-box">
    {% for topic in topics %}
    <li class="list-box-item list-box-item-wrap-2">
      <div class="list-box-content">
        <p class="topic-teaser-image"><img src="{{topic.image.src}}" alt=""></p>
        <h3>{{topic[site.lang].title}}</h3>
        <div>{% for tag in topic[site.lang].tags %}
          <span class="badge">{{tag}}</span>
          {% endfor %}</></div>
        <p>{{topic[site.lang].teaser}}</p>
        <p>
	  <a href="{{topic.url}}">{% t lernen.link_read %}</a>
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% assign tutorials = site.data.tutorials.de %}
{% if tutorials.size > 0 %}
<div class="box box-margin-top-medium">
  <h2>{% t lernen.tutorials.title %}</h2>
  <p>{% t lernen.tutorials.desc %}</p>
</div>
<div class="container">
  <ul class="list-box">
    {% for tutorial in tutorials %}
    <li class="list-box-item list-box-item-wrap-3">
      <div class="list-box-content">
        <h3>{{tutorial.title}}</h3>
        <div>{% for tag in tutorial.tags %}
          <span class="badge">{{tag}}</span>
          {% endfor %}</></div>

        {% if tutorial.link %}
          <p><a href="{{tutorial.link}}">{% t lernen.link_read %}</a></p>
        {% else %}
          <p>
	    <a href="{{tutorial.url}}">{% t lernen.link_read %}</a>
          </p>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
