---
layout: page
menu_lernen: yes
title: Lernen
description: Lerne mit der OKF Datenschule
---
<div class="box box-with-head">
	<h1 class="box-head">Lernen</h1>
	<p>Lerne, richtig mit Daten umzugehen. Mit unseren kuratierten Kursen zu verschiedenen Schwerpunkten kannst du dir Datenwissen aneignen und es erweitern. Die Kurse beinhalten praktische Anwendungsbeispiele, Datensets und Übungen. Sie können unabhängig voneinander durchgeführt werden und sich für Einsteiger/innen und Fortgeschrittene geeignet.</p>
</div>

{% assign tutorials = site.tutorials | where: "group", "Daten" | sort:"order","last" %}
{% if tutorials.size > 0 %}
<div class="box box-margin-top-medium">
	<h2>Daten</h2>
	<p></p>
</div>
<div class="container-wrap-row">
	{% for tutorial in tutorials %}
	<div class="container-wrap-item-3">
		<div class="box">
			<h3>{{tutorial.title}}</h3>
			<p>
				<a href="{{tutorial.url}}">Read</a>
			</p>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}

{% assign tutorials = site.tutorials | where: "group", "Workflow" | sort:"order","last" %}
{% if tutorials.size > 0 %}
<div class="box box-margin-top-medium">
	<h2>Workflow</h2>
	<p></p>
</div>
<div class="container-wrap-row">
	{% for tutorial in tutorials %}
	<div class="container-wrap-item-3">
		<div class="box">
			<h3>{{tutorial.title}}</h3>
			<p>
				<a href="{{tutorial.url}}">Read</a>
			</p>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}

{% assign tutorials = site.tutorials | where: "group", "Tool" | sort:"order","last" %}
{% if tutorials.size > 0 %}
<div class="box box-margin-top-medium">
	<h2>Tools</h2>
	<p></p>
</div>
<div class="container-wrap-row">
	{% for tutorial in tutorials %}
	<div class="container-wrap-item-3">
		<div class="box">
			<h3>{{tutorial.title}}</h3>
			<p>
				<a href="{{tutorial.url}}">Read</a>
			</p>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}
