---
layout: page
menu_references: yes
title: references.title
description: references.desc
---
<div class="box box-with-head">
	<h1 class="box-head">{% t references.title %}</h1>
	<p>{% t references.intro %}</p>
</div>

<div class="container">
	<div class="box">
		{% for cite in site.data.cites %}
		<p class="speech-bubble"> {{cite.text}}<cite>{{cite.author}}</cite></p>
		{% endfor %}
	</div>
</div>

<div class="container">
	<div class="box">
		<h1>Stories</h1>
	</div>
</div>
{% assign stories = site.testimonials | where: "lang",site.lang %}
{% if stories.size > 0 %}
<div class="container">
	<ul class="list-box">
		{% for story in stories %}

		<li class="list-box-item list-box-item-wrap-2">
			<div class="list-box-content">
				{% if story.img.src %}<img src="{{story.img.src}}">{% endif %}
				<h4>{{story.name}}</h4>
				<p>
					{{story.cite}}
				</p>
				<div class="list-box-pull-down list-box-pull-right">
					<a class="box-button-plain" href="{{ site.baseurl }}{{ story.url }}">Mehr</a>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
{% endif %}

