<div class="background">
	{% assign box_size = 400 %}
	{% assign nr_svgs = 38 %}
	{% assign max_svgs_per_box = 2 %}
	{% assign min_svgs_per_box = 1 %}
	{% for i in (0..10) %}
		{% for j in (0..10) %}
			{% assign box_left =  i | times : box_size %}
			{% assign box_top =  j | times : box_size %}
			{% assign nrof = max_svgs_per_box | minus: min_svgs_per_box %}
			{% assign nrof = nrof | random %}
			{% assign nrof = nrof | plus: min_svgs_per_box %}
			{% for x in (0..nrof) %}
				{% assign left = box_size | random %}
				{% assign left = left | plus : box_left %}
				{% assign top = box_size | random %}
				{% assign top = top | plus: box_top %}
				{% assign nr = nr_svgs | random %}
				{% assign speed = 4 | random %}
				{% assign speed = speed | plus:3 %}
				<div class="parallax svg{{nr}}" data-speed="{{speed}}" style="left:{{left| minus:100}}px; top:{{top}}px;"></div>
			{% endfor %}
		{% endfor %}
	{% endfor %}
</div>
