{% assign cardnr=include.cardnr %}
<section class="container-padded">
	<div class="container">
		{% for card in site.data.cards %}
		{% if card.id == cardnr %}
		<div class="box">{% include card.html card="card" %}</div>
		{% endif %}
		{% endfor %}
	</div>

	<div class="container">
		<div class="box">
			<div class="container-wrap-row">
				{% for card in site.data.cards %}
				{% if card.id != cardnr %}
				<div class="container-wrap-item">
					<a href="/card/{{card.id}}/">
						<img src="/files/downloads/campaign/thumbs/{{card.filename}}">
					</a>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

