<div class="card">
	<img src="/files/downloads/campaign/{{card.filename}}">
	<!--<img src data-lazy="/files/downloads/campaign/{{card.filename}}" alt="{{card.slogan}}" title="{{card.slogan}}" usemap="#clickmap">-->
	<div class="card-share">
		<span class="card-share-title">{% t share_card %}</span>&nbsp;
		<a target="_blank" title="Facebook" class="icon-facebook" href="http://facebook.com/sharer.php?u=https://datenschule.de/card/{{card.id}}/&amp;t={{ card[site.lang].description }}"><i class="fa fa-facebook-square"></i></a>&nbsp;
		<a target="_blank" title="Google Plus" class="icon-googleplus" href="https://plus.google.com/share?url=https://datenschule.de/card/{{card.id}}/"><i class="fa fa-google-plus-square"></i></a>&nbsp;
		<a target="_blank" title="Twitter" class="icon-twitter-1" href="http://twitter.com/intent/tweet?url=https://datenschule.de/card/{{card.id}}/&amp;text={{ card[site.lang].twitter }}"><i class="fa fa-twitter-square"></i></a>
		<a href="/files/downloads/campaign/{{card.filename}}" class="icon-resize-full-alt pull-right" title="Fullscreen"><i class="fa fa-arrows-alt" data-mfp-src="{{card.filename}}"></i></a>
		<a href="/files/downloads/campaign/{{card.filename}}" download="/files/downloads/campaign/{{card.filename}}" target="_blank" class="pull-right" title="Download"><i class="icon-download"></i></a>
	</div>
</div>