<h4>Termine</h4>
{% assign events = site.data.events | where: "featured",true | limit: 3| sort: "date" | reverse %}
{% for event in events %}
<div class="event-item container">
	<h5>{{event.name}}</h5>
	<div class="event-date">{{event.date | date: '%d.%m.%Y'}}</div>
	<div class="event-place">{{event.place}}</div>
	<div class="event-text">{{event.text | markdownify }}</div>
</div>
{% endfor %}
<div class="event-item container">
	<div class="event-text event-archive"><p><a href="/eventarchiv">vergangene Events</a></p></div>
</div>
