<h4>{% t events.title %}</h4>
{% assign events = site.data.events | where: "featured",true | limit: 3| sort: "date" %}
{% for event in events %}
<div class="event-item container">
	<h5>{{event.name}}</h5>
	<div class="event-date">{{event.date | date: '%d.%m.%Y'}}</div>
	<div class="event-place">{{event.place}}</div>
	<div class="event-text">{{event.text | markdownify }}</div>
</div>
{% endfor %}
<div class="event-item container">
	<div class="event-text"><p><a href="/eventarchiv">{% t events.past_link %}</a></p></div>
</div>
