<footer class="text-center">
	<div class="footer-above">
		<div class="container">
			<div class="row">
				<div class="footer-col col-md-4">
					<h3>{% t contact.about %}</h3>
					<p>
						<a href="mailto://info@datenschule.de"><i class="fa fa-envelope-o"></i> Mail: info@datenschule.de</a><br/>
						<a target="_blank" href="https://okfn.de"><i class="fa fa-external-link"></i> Web: okfn.de</a>
					</p>
				</div>
				<div class="footer-col col-md-4">
					<h3>{% t contact.ontheweb %}</h3>
					<ul class="list-inline">
						<li><a target="_blank" class="btn-social btn-outline" href="https://twitter.com/okfde" title="OKF {% t contact.on_ %} Twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
						<li><a target="_blank" class="btn-social btn-outline" href="https://github.com/okfde" title="OKF {% t contact.on_ %} Github"><i class="fa fa-fw fa-github"></i></a></li>
						<li><a target="_blank" class="btn-social btn-outline" href="https://www.flickr.com/photos/okfde" title="OKF {% t contact.on_ %} Flickr"><i class="fa fa-fw fa-flickr"></i></a></li>
						<li><a target="_blank" class="btn-social btn-outline" href="https://www.youtube.com/channel/UCUD8EFjXzRN-wFUbVTYlDAw" title="OKF {% t contact.on_ %} Youtube"><i class="fa fa-fw fa-youtube"></i></a></li>
					</ul>
				</div>
				<div class="footer-col col-md-4">
					<h3>{% t contact.terms %}</h3>
					<p>
						<a target="_blank" href="https://okfn.de/impressum"><i class="fa fa-external-link"></i> {% t contact.showterms %}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">{% t footer %}</div>
			</div>
		</div>
	</div>
</footer>