<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsing">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img class="navbar-brand-img" src="/assets/img/logo_white.png">
			<a class="navbar-brand" href="#scroll-top">OKF Datenschule</a>
		</div>
		<div id="navbar-collapsing" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden"><a href="#scroll-top"></a></li>
				<li class="page-scroll"><a href="#scroll-top">{% t menu.cards %}</a></li>
				<li class="page-scroll"><a href="#scroll-1">{% t menu.about %}</a></li>
				<li class="page-scroll"><a href="#scroll-3">{% t menu.action %}</a></li>
				<li class="page-scroll"><a href="#scroll-5">{% t menu.contact %}</a></li>
			</ul>
		</div>
	</div>
</nav>
