<div class="container">
  <div class="container-left-12">
    <div class="box box-with-head box-margin-top-medium">
      {{ include.head }}

      {% if page_content.text.first %}
        {% for txt in page_content.text %}
          <p>{{txt}}</p>
        {% endfor %}
      {% else %}
        {{page_content.text}}
      {% endif %}
    </div>
  </div>

  <a href="mailto:info@datenschule.de?subject=Anfrage Workshop:%20{{page_content.workshop_link}}">
    <button class="box-button workshop-register-button"><i class="icon-paper-plane"></i> Gib uns auch so einen Workshop</button></a>
</div>
