---
layout: page
menu_workshops: yes
title: workshops.title
description: workshops.desc
---
<div class="box box-with-head">
  <h1 class="box-head">{% t workshops.title %}</h1>
  <p>{% t workshops.intro %}</p>
</div>

<!--<div class="box box-margin-top-medium">-->
<!--<p>-->
<!--<h1>{% t workshops.title %}</h1></p>-->
<!--</div>-->

{% assign workshops = site.workshops  | where: "lang", site.lang %}
{% assign workshops = site.workshops %}
{% if workshops.size > 0 %}
<div class="container">
  <ul class="list-box">
    {% for workshop in workshops %}

    <li class="list-box-item list-box-item-wrap-2">
      <div class="list-box-content">
	<div class="workshop-box">
	  <div class="prev-image" style="background-image: url('{{workshop.image.src}}')">
	    <div class="title-wrapper">
	      <h2>{{workshop.title}}</h2>
	    </div>
	  </div>
	  <div class="workshop-content">
	    <p>
	      <strong>{{workshop[site.lang].slogan}}</strong>
	    </p>
	    <p>
	      {{workshop[site.lang].text_short}}
	    </p>
	  </div>
	  <div class="workshop-bottom">
	    <div class="register-workshop">
	      <a class="box-button-plain" href="{{ site.baseurl }}{{workshop.url}}">{% t workshop.more %}</a>
	    </div>
	    <div class="workshop-footer">
	      <i class="icon-clock"></i>{{workshop[site.lang].duration}}
	      <!--<span class="pull-right"><i class="icon-chart-bar"></i>{{workshop[site.lang].level}}</span>-->
	    </div>
	  </div>
	</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<div class="box box-with-head box-margin-top-medium">
  <h1 class="box-head">{% t workshops.method.title %}</h1>
  {% if site.lang == "en" %}
  <img src="/files/workshops/data_pipeline_en.png" alt="Data Pipeline" class="img-centered-block">
  {% else %}
  <img src="/files/workshops/data_pipeline_de.png" alt="Data Pipeline" class="img-centered-block">
  {% endif %}
  <p>{% t workshops.method.content %}</p>
</div>

<div class="box box-with-head box-margin-top-medium">
  <h1 class="box-head">{% t workshops.evaluation.title %}</h1>
  <p>{%t workshops.evaluation.content %}</p>
  <div class="container">
    <div class="container-left-6">
      <p><strong>{% t workshops.evaluation.left.title %}</strong></p>
      <ul class="list-indented-unstyled">
	<li><i class="icon-download"></i><a href="/files/workshops/DoingGoodwithData-DevelopmentofaMaturityModelforDataLiteracyinNGOs_HelenaSternkopf.pdf">{% t workshops.evaluation.left.first %}</a></li>
	<li><i class="icon-download"></i><a href="/files/workshops/Kurzversion-Helena-Sternkopf.pdf">{% t workshops.evaluation.left.second %}</a></li>
	<li><i class="icon-download"></i><a href="/files/workshops/Maturity-Modell-Helena-Sternkopf-Englisch.ods">{% t workshops.evaluation.left.third %}</a></li>
      </ul>
    </div>
    <div class="container-left-6">
      <p class="und"><strong>{% t workshops.evaluation.right.title %}</strong></p>
      <ul class="list-indented-unstyled">
	<li><i class="icon-download"></i><a href="/files/workshops/DataLiteracy-MaturityModel-Datenschule.pdf">{% t workshops.evaluation.right.first %}</a></li>
	<li><i class="icon-download"></i><a href="/files/workshops/DateLiteracyModel-Matrix-Datenschule.pdf">{% t workshops.evaluation.right.second %}</a></li>
      </ul>
    </div>
  </div>
</div>


<!--<div class="container">-->
<!--<div class="container-left-12">-->
<!--<div class="box box-margin-top-medium box-with-button">-->
<!--<h2>Interesse an unseren Workshops? </h2>-->
<!--<a target="_blank" href="mailto:info@datenschule.de?subject=Anmeldung%20Worshop">-->
<!--<button class="box-button">Schreib uns!</button>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
