---
layout: page
menu_workshops: yes
title: workshops.title
description: workshops.desc
---
<div class="box box-with-head">
    <h1 class="box-head">{% t workshops.title %}</h1>
    <p>{% t workshops.intro %}</p>
</div>

<div class="box box-with-head box-margin-top-medium">
    <h1 class="box-head">{% t workshops.method.title %}</h1>
    <img src="/files/workshops/data_pipeline_de.png" alt="Data Pipeline" class="">
    <p><strong>{% t workshops.method.head %}</strong></p>
    <p>{% t workshops.method.content %}</p>
</div>

<div class="box box-with-head box-margin-top-medium">
    <h1 class="box-head">{% t workshops.evaluation.title %}</h1>
    <p>{%t workshops.evaluation.content %}</p>
    <div class="container">
        <div class="container-left-6">
            <p><strong>{ %t workshops.evaluation.left.title %}</strong></p>
            <ul class="list-indented-unstyled">
                <li><i class="icon-download"></i><a href="#">{ %t workshops.evaluation.left.first %}</a></li>
                <li><i class="icon-download"></i><a href="#">{ %t workshops.evaluation.left.second %}</a></li>
                <li><i class="icon-download"></i><a href="#">{ %t workshops.evaluation.left.third %}</a></li>
            </ul>
        </div>
        <div class="container-left-6">
            <p class="und"><strong>{ %t workshops.evaluation.right.title %}</strong></p>
            <ul class="list-indented-unstyled">
                <li><i class="icon-download"></i><a href="#">{ %t workshops.evaluation.right.first %}</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="box box-margin-top-medium">
    <p><h1>{ %t workshops.title %}</h1></p>
</div>
{% assign workshops = site.workshops %}
{% if workshops.size > 0 %}
<div class="container-wrap-row container-wrap-item-pull-top">
    {% for workshop in workshops %}
    <div class="container-wrap-item-2">
        <div class="box box-margin-top-medium projects-box">
            <h2>{{workshop.title}}</h2>
            <p>
                <img src="{{workshop.image}}">
            </p>
            <p>
                <strong>{% case site.lang %}{% when 'en' %}{{ workshop.subtitle_en }}{% else %}{{ workshop.subtitle }}{% endcase %}</strong>
            </p>
            <p>
                {% case site.lang %}{% when 'en' %}{{ workshop.description_en }}{% else %}{{ workshop.description }}{% endcase %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="container">
    <div class="box">
        <h2>Zu den Workshops gibt's bald mehr Infos :) </h2>
        <p></p>
    </div>
</div>

<div class="container">
    <div class="container-left-12">
        <div class="box box-margin-top-medium box-with-button">
            <h2>Interesse an unseren Workshops? </h2>
            <a target="_blank" href="mailto:info@datenschule.de?subject=Anmeldung%20Worshop">
                <button class="box-button">Schreib uns!</button>
            </a>
        </div>
    </div>
</div>

