---
layout: page
title: eventarchiv.title
description: eventarchiv.desc
---
<div class="box box-with-head">
	 <h1 class="box-head">{% t eventarchiv.title %}</h1>
	<p>{% t eventarchiv.intro %}</p>
</div>
{% assign events = site.data.events | where:"featured",false |sort: "date" | reverse %}
{% for event in events %}
	<div class="box event-box-big">
		<h2>{{event.name}}</h2>
		{% if event.end %}
			<div class="event-subtitle"><strong>{{event.date | date: '%d.%m.%Y'}} - {{event.end | date: '%d.%m.%Y'}}</strong> - {{event.place}}</div>
		{% else %}
			<div class="event-subtitle"><strong>{{event.date | date: '%d.%m.%Y'}}</strong> - {{event.place}}</div>
		{% endif %}

		<div class="event-text">
			{{event.text | markdownify }}
			{% if event.blogpost %}
				<p><a href="{{event.blogpost}}">{% t eventarchiv.link_more %}</a></p>
			{% endif %}
		</div>
	</div>
{% endfor %}