<section class="container-padded">

  <div class="container">

    <div class="container-left-9">
      <div class="box-keyvisual">
	{% include svg/key_visual.svg %}
      </div>
    </div>

    <div class="container-left-3">
      <div class="event-box box-margin-top-medium">
	{% include events.html %}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container-left-12">
      <div class="box box-with-head box-margin-top-huge">
	<h1 class="box-head">Vision der Datenschule</h1>
	<p>
	  Die Datenschule vermittelt gemeinnützigen Organisationen die nötigen Fähigkeiten, Daten und Technologien zu verstehen, um sie zielgerichtet für ihre gesellschaftlichen Aufgaben einzusetzen.
	</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container-left-12 box-margin-top-medium u-centered">
      <iframe class="bordered" width="560" height="318" src="https://www.youtube-nocookie.com/embed/tE8vx3TFIlM?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>


  <div class="container">
    <div class="container-left-6">
      <div class="box box-margin-top-medium">
	<p>
	  Immer mehr Informationen liegen digital vor und beinhalten beispielsweise Verwaltungsprotokolle zur Änderung von Schulgesetzen, Angaben zur Wohnraumentwicklung einer Stadt oder Statistiken zu Asylsuchenden. Daten könnten
	  gerade von gemeinnützigen Organisationen im Rahmen ihrer gesellschaftspolitischen Arbeit als eine ergänzende Informationsquelle genutzt werden, um Projekte auf der Grundlage von Daten selbstbestimmt voranzubringen und
	  neue Beteiligungsmöglichkeiten für Zielgruppen zu erschließen. Zukunftsweisende, interne Entscheidungen können auf Grundlage einer sorgfältigen Datenanalyse besser getroffen werden.
	</p>
      </div>
    </div>
    <div class="container-right-6">
      <div class="box box-margin-top-large">
	<p>
	  Doch nur wenige gemeinnützige Organisationen erkennen den Wert der Daten für ihre Arbeit. Oftmals fehlt es an den nötigen Fähigkeiten, mit Daten umzugehen und sie in Informationen zu verarbeiten. Das Team der Datenschule
	  möchte auf diesem Weg begleiten: Wir kooperieren mit gemeinnützigen Organisationen aus dem gesamten Bundesgebiet, die sich mit ihren Projekten für einen positiven gesellschaftlichen Wandel einsetzen. Vom Daten finden,
	  analysieren und visualisieren, unterstützen wir datengestützte Projekte. Mit unseren Workshops vermitteln wir die nötigen Fähigkeiten, selbstbestimmt mit Daten und Technologien umzugehen.
	</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container-left-12">
      <div class="box box-margin-top-medium">
	<h2>Unsere Ziele</h2>
	<p></p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container-left-6">
      <div class="box box-margin-top-medium">
	<h3>Wissensvermittlung</h3>
	<p>
	  Wie kann man mit Daten gute Geschichten erzählen? Welche ethischen Aspekten sind bei Datenerhebungen zu beachten? Welche digitalen Tools gibt es, um Workflows zu verbessern? Wir wollen gemeinnützigen Organisationen praxisnah den zielgerichteten Umgang mit Daten, Technologien und digitalen Arbeitsweisen vermitteln. Dazu stellen wir <a href="/lernmaterialien/">Lernmaterialien</a> und Best Practices frei als Open Educational Ressources (OER) zur Verfügung.
	</p>
      </div>
      <div class="box box-margin-top-medium">
	<h3>Community Building</h3>
	<p>
	  Erfolgreiche gemeinnützige Projekte basieren auf der Unterstützung einer lebendigen, vielseitigen und praxisorientierten Community. Wir wollen den Austausch zwischen technikaffinen Menschen und gesellschaftspolitischen Organisationen fördern, denn erfolgreiche Projekte basieren auf der Unterstützung einer lebendigen und vielseitigen Community.
	</p>
      </div>
    </div>
    <div class="container-left-6">
      <div class="box box-margin-top-large">
	<h3>Gesellschaftlichen Wandel positiv gestalten</h3>
	<p>
	  In einer zunehmend digitalen Welt werden die Kompetenzen, mit Daten umzugehen (“Data Literacy”), immer wichtiger. Fundierte Datenkenntnisse erlauben es Einzelpersonen und Organisationen, Informationen kritisch zu hinterfragen und sich an öffentlichen Debatten faktenbasiert zu beteiligen. Mit unseren Workshops und Datenprojekten wollen wir die digitale Alphabetisierung im gesellschaftspolitischen Bereich vorantreiben, soziale und politische Fragestellungen mit Hilfe von Daten neu betrachten und so gemeinsam mit anderen gemeinnützigen Organisationen den gesellschaftlichen Wandel positiv gestalten.
	</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container-left-12">
      <div class="box box-margin-top-medium">
	<h2>Neues aus unserem Blog</h2>
	<p></p>
      </div>
    </div>
  </div>

  {% include post-home-section.html %}

  <div class="container">
    <div class="container-left-12">
      <div class="box box-margin-top-medium box-with-button">
	<h2>Werde Teil der Datenschule!</h2>
	<p>
	  Unser Newsletter informiert monatlich über Aktivitäten und Workshops, gibt Tipps zum Arbeiten mit Daten und verweist auf interessante Debatten aus dem Bereich der digitalen Alphabetisierung.
	</p>
	<a class="box-button" target="_blank" href="http://okfn.us5.list-manage.com/subscribe?u=929f1e07936386d34833e20d1&id=57affeefd3">Anmelden</a>
      </div>
    </div>
  </div>

</section>
