%link {
  border: none;
  cursor: pointer;
  transition: color 0.1s linear;
}

a {
  @extend %link;
  color: $link-color;
  text-decoration: underline;

  &:active,
  &:hover {
    text-decoration: none;
  }
}

.link-ds {
  @extend %link;
  color: $base-button-background-color;
  text-decoration: underline;

  &:active,
  &:hover {
    text-decoration: none;
  }
}