.background {
  z-index: -1;
  position: fixed;
  top: 90px;
  height: 100%;
  left: 0;
  right: 0;

  > div {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }


}

.svg1 {
  background-image: url("../svg/Linie_1.svg");
}

.svg2 {
  background-image: url("../svg/Linie_2.svg");
}

.svg3 {
  background-image: url("../svg/Linie_3.svg");
}

.svg4 {
  background-image: url("../svg/Wolke_4.svg");
}

.svg5 {
  background-image: url("../svg/Linie_5.svg");
}

.svg6 {
  background-image: url("../svg/Linie_6.svg");
}

.svg7 {
  background-image: url("../svg/Linie_7.svg");
}

.svg8 {
  background-image: url("../svg/Linie_8.svg");
}

.svg9 {
  background-image: url("../svg/Linie_9.svg");
}

.svg10 {
  background-image: url("../svg/Linie_gestrichelt_1.svg");
}

.svg11 {
  background-image: url("../svg/Linie_gestrichelt_2.svg");
}

.svg12 {
  background-image: url("../svg/Linie_gestrichelt_3.svg");
}

.svg13 {
  background-image: url("../svg/Linie_gestrichelt_4.svg");
}

.svg14 {
  background-image: url("../svg/Linie_gestrichelt_5.svg");
}

.svg15 {
  background-image: url("../svg/Linie_gestrichelt_6.svg");
}

.svg16 {
  background-image: url("../svg/Linie_gestrichelt_7.svg");
}

.svg17 {
  background-image: url("../svg/Linien_Raster_1.svg");
}

.svg18 {
  background-image: url("../svg/Punkte_1.svg");
}

.svg19 {
  background-image: url("../svg/Punkte_2.svg");
}

.svg20 {
  background-image: url("../svg/Punkte_3.svg");
}

.svg21 {
  background-image: url("../svg/Punkte_4.svg");
}

.svg22 {
  background-image: url("../svg/Punkte_5.svg");
}

.svg23 {
  background-image: url("../svg/Punkte_6.svg");
}

.svg24 {
  background-image: url("../svg/Punkte_7.svg");
}

.svg25 {
  background-image: url("../svg/Wolke_1.svg");
}

.svg26 {
  background-image: url("../svg/Wolke_2.svg");
}

.svg27 {
  background-image: url("../svg/Wolke_3.svg");
}

.svg28 {
  background-image: url("../svg/Wolke_4.svg");
}

.svg29 {
  background-image: url("../svg/Wolke_5.svg");
}

.svg30 {
  background-image: url("../svg/Wolke_6.svg");
}

.svg31 {
  background-image: url("../svg/Wolke_7.svg");
}

.svg32 {
  background-image: url("../svg/Wolke_8.svg");
}

.svg33 {
  background-image: url("../svg/Wolke_9.svg");
}

.svg34 {
  background-image: url("../svg/Wolke_10.svg");
}

.svg35 {
  background-image: url("../svg/Wolke_11.svg");
}

.svg36 {
  background-image: url("../svg/Wolke_12.svg");
}

.svg37 {
  background-image: url("../svg/Wolke_13.svg");
}

.svg38 {
  background-image: url("../svg/Wolke_14.svg");
}

.svg-pos-1 {
  left: 100px;
  top: 100px;
}

.svg-pos-2 {
  left: 100px;
  top: 300px;
}

.svg-pos-3 {
  left: 100px;
  top: 500px;
}

.svg-pos-4 {
  left: 100px;
  top: 700px;
}

.svg-pos-5 {
  left: 100px;
  top: 900px;
}

