.box {
  background-color: white;
  border: solid 3px $base-border-color;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-top: 20px;
  h2 {
    margin-bottom: 0;
  }
  h2.box-head {
    font-weight: $weight-book;
  }
}

.box.box-with-head p:first-of-type {
  margin-top: 4px;
}

.box-with-button {
  padding-bottom: 10px;
}

.box.box p:last-of-type {
  margin-bottom: 18px;
}

.box-margin-top-medium, .box-margin-top-large, .box-margin-top-huge, .box-margin-top-very-huge {
  margin-top: 40px;
}

.box-padding-top {
  padding-top: 20px;
}

.box-invert {
}

.box-with-video {
  padding: 20px;

  iframe {
    width: 100%;
    height: auto;
    min-height: 20em;

    @include respond-to(medium-up) {
      min-height: 30em;
    }
  }
}

.box-head {
  border: solid 3px $base-border-color;
  background-color: white;
  display: inline-block;
  width: auto;
  margin-top: -24px;
  margin-bottom: 0;
  font-size: 1.5em;
  padding: 8px;
}


@include respond-to(small-up) {
  .box-head {
    font-size: 2em;
  }


  .box-margin-top-medium {
    margin-top: 60px;
  }

  .box-margin-top-large {
    margin-top: 120px;
  }

  .box-margin-top-huge {
    margin-top: 140px;
  }

  .box-margin-top-very-huge {
    margin-top: 200px;
  }
}


.box-button, .box-button-plain {
  height: 2em;
  background-color: $base-button-background-color;
  color: $base-button-color;
  font-size: 1.2em;
  border: none;
  padding-top: 0.35em;

  &:hover {
    background-color: darken($base-button-background-color, 5%);
  }
}

.box-button {
  box-shadow: long-shadow(to bottom left, 12px, #696a6e, #696a6e);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -10px;
  margin-right: 60px;
  float: right;
}

.box-button-plain {
  text-decoration: none;
  padding: 10px;
}

.list-box{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

.list-box-item{
  background-color: $white;
  display: flex;
  margin-bottom: 1em;
  border: 3px solid $blue;
  padding: 10px;
}

.list-box-content {
  display: flex;
  flex-direction: column;

  .title-wrapper {
    flex-direction: column;
  }
}

.list-box-item-wrap-2 {
  width: 49%;
}

.list-box-item-wrap-3 {
  width: 30%;
}

.list-box-pull-down {
  display: flex;
  margin-top: auto;
}

.list-box-pull-right {
  display: flex;
  justify-content: flex-end;
}

@include respond-to(small-down) {
  .list-box-item-wrap-2 {
    width: 100%;
  }
  .list-box-item-wrap-3 {
    width: 100%;
  }
}

@include respond-to(small-to-large) {
  .list-box-item-wrap-3 {
    width: 49%;
  }
}


.list-box-content{
  width: 100%;
}

.list-box-content img{
  width: 100%;
}

.box-head-img {
  width: 60px;
  height: auto;
  vertical-align: middle;
}

img.list-box-header-icon {
  width: 40px;
}
