
.box-keyvisual {
  width: 100%;
  margin-top: 20px;
  svg {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 40px;
    border: 1px solid #f9f9f9;
    //background-color: #00aeef;
  }
}
