.workshop-box {

  padding: 0;
  display: flex;
  flex-direction: column;
  height:100%;

  .workshop-content {
    padding: 10px;
  }

  .workshop-bottom {
    margin-top: auto;
  }

  .workshop-footer {
    border-top: 2px solid $blue;
    padding-top: 5px;
  }

  hr {
    margin: 0;
  }

  .register-workshop {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

.workshop-detail-head {
  display: flex;
  padding: 10px;

  .workshop-detail-image {
    max-width: 300px;
    margin: 20px
  }

  .workshop-meta {
    margin: auto;
  }
}

.workshop-head {
  min-width: 17em;
}

.trainer-image {
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;

  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}