
.icon-vimeo:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-twitter-1:before { content: '\e803'; } /* '' */
.icon-github-1:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-flickr:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-clock:before { content: '\e80a'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */