---
layout: page
menu_projekte: yes
title: Projekte
description: Die Projekte der OKF Datenschule
---

<div class="box box-with-head">
	<h1 class="box-head">Projekte</h1>
	<p>Gemeinsam mit unseren Partnern setzen wir uns für eine positive gesellschaftliche Veränderung ein. Wir engagieren uns in diesen Bereichen: Politik und Informationsfreiheit, Bildung, Gesundheit, Armut, Menschenrechte, Stadtentwicklung, Umwelt und Entwicklungs&shy;zusammenarbeit.
	</p>
</div>

<div class="box box-margin-top-medium">
	<h2>Aktuelle</h2>
	<p></p>
</div>

<div class="container-wrap-row">
	{% for project in site.data.projects %}
	{% if (project.ended) %}{% else %}
	<div class="container-wrap-item-3">
		<div class="box">
			<h3>{{project.name}}</h3>
			<p></p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>

<div class="box box-margin-top-medium">
	<h2>Abgeschlossene</h2>
	<p></p>
</div>

<div class="container-wrap-row">
	{% for project in site.data.projects %}
	{% if project.ended %}
	<div class="container-wrap-item-3">
		<div class="box">
			<h3>{{project.name}}</h3>
			<p></p>
		</div>
	</div>
	{% endif %}
	{% endfor %}
</div>

